<app-btn [text]="'删除选中的'" (click$)="deleteSelected()"></app-btn>
<table>
  <thead>
    <tr>
      <th>
        <input type="checkbox"  (ngModelChange)="toggleAll()" [(ngModel)]="selectAll">
      </th>
      <th>Description</th>
      <th>Category</th>
      <th>Operate</th>
    </tr>
  </thead>
  <tbody>
    <tr (click)="navigateTo(item,$event)" *ngFor="let item of todos even as isEven" [ngClass]="{even: isEven}">
      <td>
        <input type="checkbox" [(ngModel)]="item.selected" (ngModelChange)="check()">
      </td>
      <td>{{item.description}}</td>
      <td>{{item.category | category}}</td>
      <td><a (click)="delete.next(item.id)">delete</a></td>
    </tr>
  </tbody>
</table>
