button {
  padding: 5px;
  border-radius: 2px;
  background: deepskyblue;
  cursor: pointer;
  margin-bottom: 20px;
  color:#fff;
}

button:disabled{
  background: #ddd;
  color:#000;
  cursor: initial;
}
